@model waTallerJhaka.Models.Servicio

@{
    ViewData["Title"] = "nuevoServicio";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}
<hr />
<div class="form-elements-wrapper justify-content-center">
    <div class="row">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card-style mb-30">
                    <form asp-action="nuevoServicio">
                        <div asp-validation-summary="ModelOnly"></div>
                        <h1 class="text-center">REGISTRAR SERVICIO</h1>
                        <br />
                        <div class="input-style-1">
                            <input asp-for="nom_ser" placeholder="@Html.DisplayNameFor(m => m.nom_ser)" />
                            <span asp-validation-for="nom_ser" class="text-danger"></span>
                        </div>

                        <div class="input-style-1">
                            <input asp-for="pre_ser" value= null placeholder="@Html.DisplayNameFor(m => m.pre_ser)" />
                            <span asp-validation-for="pre_ser" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="REGISTRAR" class="btn btn-primary mx-auto d-block" />
                        </div>
                    </form>

                    <br />

                    <div class="row justify-content-center">
                        <a asp-action="listadoServicios" class="main-btn active-btn rounded-full btn-hover">Regresar al Listado</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>